@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background: linear-gradient(#8360c3,#2ebf91);
  min-height: 100vh;
}

#form {
  width: min(90%, 500px);
  background: white;
  padding: 1rem;
  margin: 2rem auto;
}

.errors {
  background-color: hsl(0, 100%, 80%);
  border-radius: 0.5rem;
  padding: 10px;
  color: hsl(0, 50%, 20%);
  margin-bottom: 1rem;
  display: none;
}

.errors.show {
  display: block;
}

.error-title {
  margin-bottom: 0.5rem;
}

.errors-list {
  padding-left: 15px;
}

.form-group {
  display: grid;
  margin-bottom: 20px;
}

.form-group label[for="terms"] {
  display: flex;
  gap: 5px;
}

.form-group input {
  padding: 8px;
  border: 1.2px solid lightgray;
}

button {
  width: 100%;
  padding: 12px 0;
  background: linear-gradient(45deg,#8360c3,#2ebf91);
  border: none;
  color: white;
}

button:hover,
button:active {
  opacity: 0.7;
}
